[data-theme='deceiver'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(95.47% 0.01 17.51deg);
	--color-primary-100: oklch(90.41% 0.03 17.7deg);
	--color-primary-200: oklch(85.43% 0.04 18.02deg);
	--color-primary-300: oklch(80.2% 0.06 15.71deg);
	--color-primary-400: oklch(75.28% 0.07 16.86deg);
	--color-primary-500: oklch(70.3% 0.09 17.88deg);
	--color-primary-600: oklch(64.99% 0.08 17.7deg);
	--color-primary-700: oklch(59.46% 0.08 17.39deg);
	--color-primary-800: oklch(54.1% 0.07 18.23deg);
	--color-primary-900: oklch(48.29% 0.06 17.91deg);
	--color-primary-950: oklch(42.42% 0.05 17.58deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(95.36% 0.02 17.57deg);
	--color-secondary-100: oklch(90.02% 0.04 17.97deg);
	--color-secondary-200: oklch(84.89% 0.06 17.34deg);
	--color-secondary-300: oklch(79.6% 0.09 17.57deg);
	--color-secondary-400: oklch(74.82% 0.12 18.24deg);
	--color-secondary-500: oklch(70.18% 0.14 19.79deg);
	--color-secondary-600: oklch(64.85% 0.13 19.54deg);
	--color-secondary-700: oklch(59.39% 0.12 19.9deg);
	--color-secondary-800: oklch(53.8% 0.11 19.01deg);
	--color-secondary-900: oklch(48.06% 0.09 19.4deg);
	--color-secondary-950: oklch(42.18% 0.08 18.88deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(94.05% 0.03 17.68deg);
	--color-tertiary-100: oklch(87.38% 0.06 16.99deg);
	--color-tertiary-200: oklch(80.94% 0.09 17.57deg);
	--color-tertiary-300: oklch(74.73% 0.13 19.28deg);
	--color-tertiary-400: oklch(69.22% 0.16 20.83deg);
	--color-tertiary-500: oklch(64.53% 0.19 22.98deg);
	--color-tertiary-600: oklch(59.65% 0.18 22.73deg);
	--color-tertiary-700: oklch(54.65% 0.16 22.86deg);
	--color-tertiary-800: oklch(49.56% 0.14 22.52deg);
	--color-tertiary-900: oklch(44.31% 0.13 22.68deg);
	--color-tertiary-950: oklch(38.93% 0.11 22.18deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(92.4% 0.01 149.67deg);
	--color-success-100: oklch(83.63% 0.02 149.25deg);
	--color-success-200: oklch(74.59% 0.04 150.05deg);
	--color-success-300: oklch(65.39% 0.05 148.32deg);
	--color-success-400: oklch(55.95% 0.07 148.32deg);
	--color-success-500: oklch(46.38% 0.09 147.23deg);
	--color-success-600: oklch(43.21% 0.08 147.12deg);
	--color-success-700: oklch(39.63% 0.07 147.62deg);
	--color-success-800: oklch(36.3% 0.06 146.74deg);
	--color-success-900: oklch(32.55% 0.06 147.33deg);
	--color-success-950: oklch(29.06% 0.05 147.11deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-light);
	--color-success-contrast-500: var(--color-success-contrast-light);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(94.51% 0.02 54.01deg);
	--color-warning-100: oklch(88.26% 0.04 53.29deg);
	--color-warning-200: oklch(82.04% 0.06 52.77deg);
	--color-warning-300: oklch(75.99% 0.09 51.72deg);
	--color-warning-400: oklch(69.98% 0.11 50.94deg);
	--color-warning-500: oklch(64.2% 0.13 49.46deg);
	--color-warning-600: oklch(59.26% 0.12 49.25deg);
	--color-warning-700: oklch(54.4% 0.11 49.84deg);
	--color-warning-800: oklch(49.37% 0.1 49.74deg);
	--color-warning-900: oklch(44.26% 0.08 50.62deg);
	--color-warning-950: oklch(38.82% 0.07 50.42deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-light);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.77% 0.01 17.51deg);
	--color-error-100: oklch(82.22% 0.02 17.71deg);
	--color-error-200: oklch(72.48% 0.04 18.1deg);
	--color-error-300: oklch(62.42% 0.05 18.69deg);
	--color-error-400: oklch(52.28% 0.07 19.72deg);
	--color-error-500: oklch(42.15% 0.09 21.65deg);
	--color-error-600: oklch(39.12% 0.08 21.62deg);
	--color-error-700: oklch(36.24% 0.07 21.44deg);
	--color-error-800: oklch(32.93% 0.07 21.3deg);
	--color-error-900: oklch(29.92% 0.06 21.03deg);
	--color-error-950: oklch(26.61% 0.05 20.88deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(89.96% 0.02 17.55deg);
	--color-surface-100: oklch(78.14% 0.04 15.79deg);
	--color-surface-200: oklch(66.27% 0.06 17.34deg);
	--color-surface-300: oklch(53.94% 0.08 19.17deg);
	--color-surface-400: oklch(42.24% 0.11 22.3deg);
	--color-surface-500: oklch(32.22% 0.13 27.54deg);
	--color-surface-600: oklch(29.97% 0.12 27.35deg);
	--color-surface-700: oklch(27.52% 0.11 27.45deg);
	--color-surface-800: oklch(25.16% 0.1 26.45deg);
	--color-surface-900: oklch(22.61% 0.09 26.57deg);
	--color-surface-950: oklch(20.09% 0.08 26.16deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-light);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
