[data-theme='pearl'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(95.51% 0 none);
	--color-primary-100: oklch(90.37% 0 none);
	--color-primary-200: oklch(85.14% 0 none);
	--color-primary-300: oklch(79.52% 0 none);
	--color-primary-400: oklch(74.12% 0 none);
	--color-primary-500: oklch(68.62% 0 none);
	--color-primary-600: oklch(63.34% 0 none);
	--color-primary-700: oklch(57.95% 0 none);
	--color-primary-800: oklch(52.78% 0 none);
	--color-primary-900: oklch(47.12% 0 none);
	--color-primary-950: oklch(41.28% 0 none);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(92.49% 0 none);
	--color-secondary-100: oklch(83.9% 0 none);
	--color-secondary-200: oklch(75.08% 0 none);
	--color-secondary-300: oklch(65.67% 0 none);
	--color-secondary-400: oklch(56.24% 0 none);
	--color-secondary-500: oklch(46.4% 0 none);
	--color-secondary-600: oklch(43.13% 0 none);
	--color-secondary-700: oklch(39.79% 0 none);
	--color-secondary-800: oklch(36.39% 0 none);
	--color-secondary-900: oklch(32.9% 0 none);
	--color-secondary-950: oklch(29.31% 0 none);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(90.37% 0 none);
	--color-tertiary-100: oklch(78.89% 0 none);
	--color-tertiary-200: oklch(66.98% 0 none);
	--color-tertiary-300: oklch(54.86% 0 none);
	--color-tertiary-400: oklch(41.65% 0 none);
	--color-tertiary-500: oklch(27.27% 0 none);
	--color-tertiary-600: oklch(25.62% 0 none);
	--color-tertiary-700: oklch(23.93% 0 none);
	--color-tertiary-800: oklch(22.21% 0 none);
	--color-tertiary-900: oklch(20.46% 0 none);
	--color-tertiary-950: oklch(18.67% 0 none);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(98.09% 0.03 145.27deg);
	--color-success-100: oklch(96.11% 0.07 144.36deg);
	--color-success-200: oklch(94.23% 0.1 144.29deg);
	--color-success-300: oklch(92.59% 0.14 143.54deg);
	--color-success-400: oklch(91.11% 0.17 143.41deg);
	--color-success-500: oklch(89.88% 0.2 143.08deg);
	--color-success-600: oklch(82.9% 0.19 143.02deg);
	--color-success-700: oklch(75.77% 0.17 142.95deg);
	--color-success-800: oklch(68.44% 0.15 143.27deg);
	--color-success-900: oklch(60.94% 0.13 143.22deg);
	--color-success-950: oklch(53.2% 0.12 143.14deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.69% 0.02 95.24deg);
	--color-warning-100: oklch(97.15% 0.05 94.82deg);
	--color-warning-200: oklch(95.67% 0.07 94.77deg);
	--color-warning-300: oklch(94.06% 0.09 93.64deg);
	--color-warning-400: oklch(92.69% 0.11 93.73deg);
	--color-warning-500: oklch(91.38% 0.13 93.61deg);
	--color-warning-600: oklch(84.28% 0.12 93.53deg);
	--color-warning-700: oklch(77.01% 0.11 93.59deg);
	--color-warning-800: oklch(69.58% 0.1 93.49deg);
	--color-warning-900: oklch(61.93% 0.08 93.57deg);
	--color-warning-950: oklch(54.05% 0.07 93.41deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(93.87% 0.03 17.77deg);
	--color-error-100: oklch(87.1% 0.07 18.59deg);
	--color-error-200: oklch(80.73% 0.11 19.75deg);
	--color-error-300: oklch(74.78% 0.15 21.39deg);
	--color-error-400: oklch(69.89% 0.19 23.47deg);
	--color-error-500: oklch(66.17% 0.22 25.88deg);
	--color-error-600: oklch(61.07% 0.21 25.82deg);
	--color-error-700: oklch(55.87% 0.19 25.74deg);
	--color-error-800: oklch(50.65% 0.17 25.54deg);
	--color-error-900: oklch(45.19% 0.15 25.39deg);
	--color-error-950: oklch(39.56% 0.13 25.19deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(98.81% 0 none);
	--color-surface-100: oklch(97.31% 0 none);
	--color-surface-200: oklch(95.81% 0 none);
	--color-surface-300: oklch(94.01% 0 none);
	--color-surface-400: oklch(92.49% 0 none);
	--color-surface-500: oklch(90.97% 0 none);
	--color-surface-600: oklch(77.94% 0 none);
	--color-surface-700: oklch(64.34% 0 none);
	--color-surface-800: oklch(50.32% 0 none);
	--color-surface-900: oklch(34.85% 0 none);
	--color-surface-950: oklch(17.3% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-dark);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
